body {
	background-color: #1F2833;
	font-family: 'Merriweather Sans', serif;
}

/*body {background-color: #1F2833;} dark blue - page background  /*
/*body {background-color: #45A29E;} blue - for scroll links  */
/*body {background-color: #66FCF1;} light blue - headlines   */

/*body {background-color: #0B0C10;} black -  nav bar     */
/*body {background-color: #C5C6C7;} light-grey - paragrap text   */


h1, h2, h3, h4, h5 {
	color: #66FCF1;
}

p {
	color: #C5C6C7;
}

.homeLinkHover :hover{
		color: #66FCF1;
}

.scrolllink {
	text-decoration: none;
	color:  #45A29E;
}

.hoverChange :hover {
	/*text-decoration: none;*/
	color: #66FCF1;
}



/*body {background-color: #45A29E;}

/*navbar*/
.navbar  {
	background-color: #0B0C10;
}

.navbar-nav{
  padding-left: 15px;
  /*text-align: right;*/
}

.navbar .navbar-toggler {
	background-color: #0B0C10!important;
}
.navbar .navbar-toggler: hover {
  color: #1F2833!important;
}  
.navbar .navbar-toggler:focus {
  color: #1F2833;
}   
.navbar-toggler-icon {
background-image: url(images/toggle.png);
width:40px;
}

.nav-link {
	color: #66FCF1;
}

.nav-link:hover {
	color: #C5C6C7;
}

.link-secondary {
	 text-decoration: none;
	 color:  #45A29E;

}

.link-secondary: hover {
	/*color: #C5C6C7;*/
	color: #66FCF1;

}

.btn-info {
	background-color: #1F2833;
	border-color: #45A29E;
	color: white;
	margin-top: 10px;
	margin-bottom: 10px;
}

.button-cv-hoverChange :hover {
	background-color: #45A29E;
	border-color: #45A29E;

	/*background-color: #66FCF1;*/
}

.btn-success {
	width: 120px;
	/*background-color: #C5C6C7;*/
	background-color: #1F2833;
	border-color: #45A29E;
	/*border: 2px;*/
	/*background-color: #66FCF1;*/
	color: white;
	margin-top: 3.5px;
}


.home-images {
	position: relative;
	width: 90%;
}

.home-images img, .photoes{
	bottom: 0px;
	left: 20%;
	transform: translateX(-30%);
	transition: bottom 1s ease, left 1s ease;
}
/*.home-images .photoes{
	bottom: 0px;
	left: 20%;
	transform: translateX(-30%);
	transition: bottom 1s ease, left 1s ease;
}*/

.box-image {
	position: absolute;
  border-radius: 10px; 
	width: 45% ;
	height: auto;
}

.box-image2 {
	position: absolute;
  margin-bottom: 20%;
  margin-left: 10%;
  border-radius: 10px; 
	width: 50% ;
	height: auto;
	left: 0;
}

.photoSlides {
	display:none;
}

.photoes {
	position: relative;
	width: 60% ;
	/*left: 40%;*/
	right: 40px;
	height: auto;
	/*opacity: 0.9;*/
	box-shadow: 0 0    ;
	transition: 1s ease;
}

.photoSlides {
	position: relative;
	width: 60% ;
	/*left: 40%;*/
	right: 40px;
	height: auto;
	/*opacity: 0.9;*/
	box-shadow: 0 0    ;
	transition: 1s ease;
}

@keyframes fading{
	0%{opacity:0}
	50%{opacity:1}
	100%{opacity:1}
} 


.home-images:hover .box-image{
	/*transition-duration: 0.1s;*/
	left: 20px;
	/*margin-right: 20%;*/
}
.home-images:hover .box-image2{
	/*transition-duration: 0.1s;*/
	left: 30%;
	/*margin-right: 20%;*/
}

.home-images:hover .photoes{
	/*transition-duration: 0.1s;*/
	bottom: 40px;
	right: 100%;  
}


.button-hoverChange :hover {
	background-color: #45A29E;
	border-color: #45A29E;

	/*background-color: #66FCF1;*/
}