/*@font-face {
  font-family: Merriweather_Sans;
   url(sansation_light.woff);
}*/

body {
	background-color: #1F2833;
	font-family: 'Merriweather Sans', serif;
}

/*body {background-color: #66FCF1;}*/

/*body {background-color: #0B0C10;}*/
h1, h2, h3, h4, h5 {
	color: #66FCF1;
}

p {
	color: #C5C6C7;
}

/*Favourite music gallery carousel*/
.song-name{
	color: white;
	text-shadow: 0 0 6px black, 0 0 8px grey;
	/*padding-left: 230px;*/
	padding-bottom: 30px;
	/*text-align: left;*/
}

.band-name {
	color: #e0e0eb;
	text-shadow: 0 0 4px black, 0 0 7px #666699;
	/*padding-left: 230px;*/
	/*padding-bottom: 10px;*/
	/*text-align: left;*/
	/*font-weight: bold;*/
}

.songs {
	/*height:290px;*/
	/*width:500px*/
	width: 100%;
    margin: auto;
}

.carousel-caption {
	padding-left: 230px;
	text-align: left;
}

/*body {background-color: #45A29E;}

/*navbar*/
.navbar  {
	background-color: #0B0C10;
}
.navbar .navbar-toggler {
	background-color: #0B0C10!important;
}
.navbar .navbar-toggler: hover {
  color: #1F2833!important;
}  
.navbar .navbar-toggler:focus {
  color: #1F2833;
}   
.navbar-toggler-icon {
background-image: url(toggle.png);
width:40px;
}

.nav-link {
	color: #66FCF1;
}

.nav-link:hover {
	color: #C5C6C7;
}

.link-secondary {
	 text-decoration: none;
}

.link-secondary: hover {
	color: #C5C6C7;

}

