body {
	background-color: #1F2833;
	font-family: 'Merriweather Sans', serif;
}

/*body {background-color: #1F2833;} dark blue - page background  /*
/*body {background-color: #45A29E;} blue - for scroll links  */
/*body {background-color: #66FCF1;} light blue - headlines   */

/*body {background-color: #0B0C10;} black -  nav bar     */
/*body {background-color: #C5C6C7;} light-grey - paragrap text   */



h1, h2, h3, h4, h5 {
	color: #66FCF1;
}

p {
	color: #C5C6C7;
}

.homeLinkHover :hover{
		color: #66FCF1;
}

.scrolllink {
	text-decoration: none;
	color:  #45A29E;
}

.hoverChange :hover {
	/*text-decoration: none;*/
	color: #66FCF1;
}

/*Favourite music gallery carousel*/
.song-name{
	color: white;
	text-shadow: 0 0 6px black, 0 0 8px grey;
	/*padding-left: 230px;*/
	padding-bottom: 30px;
	/*text-align: left;*/
}

.band-name {
	color: #e0e0eb;
	text-shadow: 0 0 4px black, 0 0 7px #666699;
	/*padding-left: 230px;*/
	/*padding-bottom: 10px;*/
	/*text-align: left;*/
	/*font-weight: bold;*/
}

.songs {
	/*height:290px;*/
	/*width:500px*/
	width: 100%;
  margin: auto;
}

.carousel-caption {
	padding-left: 230px;
	text-align: left;
}

/*body {background-color: #45A29E;}

/*navbar*/
.navbar  {
	background-color: #0B0C10;
}

.navbar-nav{
  padding-left: 15px;
}

.navbar .navbar-toggler {
	background-color: #0B0C10!important;
}
.navbar .navbar-toggler: hover {
  color: #1F2833!important;
}  
.navbar .navbar-toggler:focus {
  color: #1F2833;
}   
.navbar-toggler-icon {
background-image: url(toggle.png);
width:40px;
}

.nav-link {
	color: #66FCF1;
}

.nav-link:hover {
	color: #C5C6C7;
}

.link-secondary {
	 text-decoration: none;
	 color:  #45A29E;

}

.link-secondary: hover {
	/*color: #C5C6C7;*/
	color: #66FCF1;

}

.btn-success {
	width: 120px;
	/*background-color: #C5C6C7;*/
	background-color: #1F2833;
	border-color: #45A29E;
	/*border: 2px;*/
	/*background-color: #66FCF1;*/
	color: white;
	margin-top: 3.5px;
}

.button-hoverChange :hover {
	background-color: #45A29E;
	border-color: #45A29E;

	/*background-color: #66FCF1;*/
}